* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b82f6;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.login a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 16px;
    /* background-color: #2563eb; */
    border-radius: 5px;
}
